@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add this CSS to your styles */
@keyframes overlaySlideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-overlay-slide-up {
  animation: overlaySlideUp 0.5s forwards;
}


.clip-water-drop img {
  clip-path: ellipse(50% 80% at 50% 30%); /* This creates a water drop shape */
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
}
